* {
    margin: 5px;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
}

:root {
    --mainColor: #000000;
    --secondaryColor: #0b7bdd;
    --tertiaryColor: #ffffff;
    --bgColor: #E9ECEF;
    --secondaryBgColor: #ADB5BD;
    --tertiaryBgColor: #BCC5CD;
}

.container {
    width: 600px;
    max-width: 100%;
    margin: 20px auto 0;
    color: var(--mainColor);
    border: 5px solid var(--secondaryColor);
    border-radius: 5%;
}